[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
grpcio = "~=1.21"
grpcio-tools = "~=1.21"

[packages]
redis = "~=4.4"
protobuf = "~=3.7"
grpcio = "~=1.21"

[requires]
python_version = "3.7"
