[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
grpcio = "~=1.20"

[packages]
redis = "~=3.2"
protobuf = "~=3.7"

[requires]
python_version = "3.7"
